<div class="about-me">
    <div class="chevron-wrap">
        <i class="fa fa-chevron-up" routerLink="/"></i>
    </div>
    <div class="title-wrap">
        <h1 class="title">About Me</h1>
    </div>
    <div class="page">
        <div class="row">
            <div class="col-12 image-col">
                <img class="me" src="https://lh3.googleusercontent.com/0reXt4gH52G8dzrTxXdTTIn66gdNswRL1lNZ6xaJ_46B9PusGe6xjd8P7cLW3_qxYCiIVRyKJt-lgnW1N8bIVbCcs3d2nTHKWwvSXgAQPS__dmL9H1e-uoKZ4z8gdSsyao0KQ9lw=w2400">
                <div class="triangle"></div>
            </div>
        </div>
        <div class="row content mx-0">
            <h2 class="name col-auto">Thomas Fisher</h2>
            <div class="col-12 content-col">
                <div class="row mx-0">
                    <h3 class="col-12 sub-heading">Bio:</h3>
                    <p class="p-text col-12">
                        I am a full stack developer in the Birmingham area. I currently work at Altec Inc.
                        and graduated from the University of Alabama in 2018. In my free time I play trombone in
                        Blow House Brass Band in Mobile, Alabama. I am married to the love of my life and high-school sweetheart,
                        Savannah; we have a cat named Shadow.
                    </p>
                    <div class="col icon-wrap">
                      <a class="fa fa-github icon" href="https://github.com/TF1SHER2" target="_blank"></a>
                    </div>
                    <div class="col icon-wrap">
                      <a class="fa fa-linkedin-square icon" href="https://www.linkedin.com/in/tfisher4/" target="_blank"></a>
                    </div>
                    <div class="col icon-wrap">
                      <a class="fa fa-envelope icon" href="mailto:tfisher2@crimson.ua.edu" target="_blank"></a>
                    </div>
                    <h3 class="col-12 sub-heading">Contributions</h3>
                    <div class="col-12 col-md-6 text-center">
                        <a class="link-wrap" href="https://connect.altec.com/pages/store" target="_blank">
                            <img src="./../../assets/altec-logo.jpg" class="works-logo"><br>
                            <p class="p-text">Altec Connect</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <a class="link-wrap" href="https://www.motion-industries.com" target="_blank">
                            <img src="./../../assets/motion-industries.jpg" class="works-logo motion-logo"><br>
                            <p class="p-text">Motion Industries</p>
                        </a>
                    </div>
                    <h3 class="col-12 sub-heading">Other Works</h3>
                    <!-- <div class="col-12 col-md-6 text-center">
                        <a class="link-wrap" href="https://www.finallyfisher.com" target="_blank" class="col-12 col-md-6 text-center">
                            <img src="./../../assets/favicon4.jpg" class="works-logo"><br>
                            <p class="p-text">Wedding Website</p>
                        </a>
                    </div> -->
                    <div class="col-12 text-center">
                        <a class="link-wrap" href="https://www.motion-industries.com/learning-development" target="_blank">
                            <img src="./../../assets/MiMotion_Logo_RGB.png" class="works-logo institute"><br>
                            <p class="p-text">Motion Institute</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
