<div class="about-me">
    <div class="chevron-wrap">
        <i class="fa fa-chevron-up" routerLink="/"></i>
    </div>
    <div class="title-wrap">
        <h1 class="title">About Me</h1>
    </div>
    <div class="page">
        <div class="row">
            <div class="col-12 image-col">
                <img class="me" src="../../assets/thomas_headshot.png">
                <div class="triangle"></div>
            </div>
        </div>
        <div class="row content mx-0">
            <h2 class="name">Thomas Fisher</h2>
            <div class="col-12 content-col">
                <p class="p-text">
                    I am a full stack developer in the Birmingham area. I currently work at Motion Industries
                    and graduated from the University of Alabama in 2018. In my free time I play trombone in
                    Blowhouse Brass Band in Mobile, AL. I also have a cat named Shadow.
                </p>
            </div>
        </div>
    </div>
</div>